---
import Layout from '../../layouts/Layout.astro';
import Hero from '../../components/Hero.astro';
import PostCard from '../../components/PostCard.astro';
import { SITE_INFO, POST_SETTINGS } from '../../config/site';
import { getCollection, type CollectionEntry } from 'astro:content';

interface Props {
  page: { 
    data: CollectionEntry<'blog'>[];
    url: { 
      prev: string | undefined;
      next: string | undefined;
    };
    currentPage: number;
    lastPage: number;
  };
}

export const prerender = true;

const HIVE_USERNAME = import.meta.env.HIVE_USERNAME;

const url = new URL(Astro.request.url);
const langParam = url.searchParams.get('lang');
const currentLang = langParam && SITE_INFO.locales[langParam] ? langParam : SITE_INFO.language;
const currentLocale = SITE_INFO.locales[currentLang];

export async function getStaticPaths({ paginate }) {
  const allPosts = await getCollection('blog');

  const sortedPosts = allPosts.sort((a, b) => new Date(b.data.created).getTime() - new Date(a.data.created).getTime());

  return paginate(sortedPosts, {
    pageSize: POST_SETTINGS.postsPerPage,
  });
}

const { page } = Astro.props;
---
<Layout title={HIVE_USERNAME} description={SITE_INFO.description}>
  <Hero currentLocale={currentLocale} />

  <div class="page-container">
    <main class="main-content">
      <h2>{currentLocale.recentPublications.replace('@quigua', '@' + HIVE_USERNAME)}</h2>
      <div class="posts-grid">
        {page.data.map((post) => {
          console.log('Post object in index.astro:', post);
          return (
            <PostCard post={post} />
          );
        })}
      </div>

      <div class="pagination-nav">
        {page.url.prev && <a href={page.url.prev} class="pagination-link prev">&laquo; Anteriores</a>}
        <span class="pagination-info">Página {page.currentPage} de {page.lastPage}</span>
        {page.url.next && <a href={page.url.next} class="pagination-link next">Siguientes &raquo;</a>}
      </div>
    </main>
    {/* INICIO DEL SIDEBAR */}
    <aside class="sidebar-column">
      <h3>{currentLocale.hiveCategories}</h3>
      <nav class="categories-nav">
        <ul>
          <li><a href="/temas/splinterlands/">{currentLocale.splinterlands}</a></li>
          <li><a href="/temas/hived-blogs/">{currentLocale.hivedBlogs}</a></li>
          <li><a href="/temas/la-web-3.0/">{currentLocale.hiveTutorials}</a></li>
          <li><a href="/temas/servicios-de-quigua/">{currentLocale.quiguaServices}</a></li>
        </ul>
      </nav>
      <div class="other-details-placeholder">
        <h3>Acerca de {HIVE_USERNAME}</h3>
        <p>{SITE_INFO.description}</p>
      </div>
      {/* Podrías añadir un módulo para posts populares o tags aquí */}
    </aside>
    {/* FIN DEL SIDEBAR */}
  </div>
</Layout>