---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import PostCard from '../components/PostCard.astro';
import { SITE_INFO, POST_SETTINGS, MAIN_CATEGORIES } from '../config/site';
import { getCollection } from 'astro:content';

const HIVE_USERNAME = import.meta.env.HIVE_USERNAME;

const url = new URL(Astro.request.url);
const langParam = url.searchParams.get('lang');
const currentLang = langParam && SITE_INFO.locales[langParam] ? langParam : SITE_INFO.language;
const currentLocale = SITE_INFO.locales[currentLang];

const allPosts = await getCollection('blog');

const sortedPosts = allPosts.sort((a, b) => new Date(b.data.created).getTime() - new Date(a.data.created).getTime());

// Limitar el número de posts
const latestPosts = sortedPosts.slice(0, POST_SETTINGS.postsPerPage);

const activeCategories = new Set(allPosts.map(post => post.data.category));

---
<Layout title={HIVE_USERNAME} description={SITE_INFO.description}>
  <Hero currentLocale={currentLocale} />

  <div class="page-container">
    <main class="main-content">
      <h2>{currentLocale.recentPublications.replace('@quigua', '@' + HIVE_USERNAME)}</h2>
      <div class="posts-grid">
        {latestPosts.map((post) => (
          <PostCard post={post} />
        ))}
      </div>
      {/* Aquí puedes añadir un botón o enlace para ver más posts si tienes muchos */}
    </main>
    {/* INICIO DEL SIDEBAR */}
    <aside class="sidebar-column">
      <h3>{currentLocale.hiveCategories}</h3>
      <nav class="categories-nav">
        <ul>
          {MAIN_CATEGORIES.filter(cat => activeCategories.has(cat)).map(category => (
            <li><a href={`/temas/${category.toLowerCase().replace(/ /g, '-')}/`}>{currentLocale[category.replace(/ /g, '').toLowerCase()]}</a></li>
          ))}
        </ul>
      </nav>
      <div class="other-details-placeholder">
        <h3>Acerca de {HIVE_USERNAME}</h3>
        <p>{SITE_INFO.description}</p>
      </div>
      {/* Podrías añadir un módulo para posts populares o tags aquí */}
    </aside>
    {/* FIN DEL SIDEBAR */}
  </div>
</Layout>