---
// src/components/Footer.astro
import { SITE_INFO } from '../config/site'; // Importa SITE_INFO

export interface Props {
  currentLang: string;
  currentLocale: any;
}

const { currentLang, currentLocale } = Astro.props;
---
<footer class="main-footer">
  <div class="container footer-grid">
    <div class="footer-section">
      <h3>{currentLocale.siteTitle.split(' - ')[0]}</h3>
      <p>{currentLocale.siteDescription}</p>
    </div>
    <div class="footer-section">
      <h3>{currentLocale.quickLinks}</h3>
      <ul>
        <li><a href="/">{currentLocale.home}</a></li>
        <li><a href="/posts/originales/">{currentLocale.originalPosts}</a></li>
        <li><a href="#">{currentLocale.categories}</a></li>
        <li><a href="/about">{currentLocale.about}</a></li>
        <li><a href="/contact">{currentLocale.contact}</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>{currentLocale.followUs}</h3>
      <ul>
        <li><a href={SITE_INFO.socialLinks.twitter}>Twitter</a></li>
        <li><a href={SITE_INFO.socialLinks.facebook}>Facebook</a></li>
        <li><a href={SITE_INFO.socialLinks.github}>GitHub</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>{currentLocale.footerCopyright}</p>
  </div>
</footer>