---
// src/components/Header.astro
import { SITE_INFO } from '../config/site'; // Importa SITE_INFO

const HIVE_USERNAME = import.meta.env.HIVE_USERNAME;

export interface Props {
  currentLang: string;
  currentLocale: any;
}

const { currentLang, currentLocale } = Astro.props;

const avatarUrl = `https://images.hive.blog/u/${HIVE_USERNAME}/avatar`;

// Lógica para construir la URL de cambio de idioma
const newUrl = new URL(Astro.url.toString());
const targetLang = currentLang === 'es' ? 'en' : 'es'; // El idioma al que queremos cambiar

newUrl.searchParams.set('lang', targetLang); // Establecer el parámetro 'lang'

const languageSwitcherHref = newUrl.toString();
---
<header class="main-header">
  <div class="container">
    <div class="logo">
      <a href="/"><img src="/hive-logo.svg" alt="Hive Logo" class="hive-logo"> {currentLocale.headerTitle.replace('@quigua', '@' + HIVE_USERNAME)}</a>
    </div>

    <nav class="main-nav">
      <ul>
        <li><a href="/">{currentLocale.home}</a></li>
        <li class="has-submenu">
          <a href="#">{currentLocale.worldWideHive} <span class="arrow-down"></span></a>
          <ul class="submenu">
            <li><a href="/comunidades">{currentLocale.communities}</a></li>
            <li><a href="/seguidores">{currentLocale.followers}</a></li>
            <li><a href="/hot-posts">{currentLocale.hotPosts}</a></li>
            <li><a href="/posts-recientes">{currentLocale.recentPosts}</a></li>
            <li><a href="/favoritos">{currentLocale.favorites}</a></li>
            <li><a href="/posts/reblogueados/">{currentLocale.rebloggedPosts}</a></li>
          </ul>
        </li>
        <li><a href="/about">{currentLocale.about}</a></li>
        <li><a href={languageSwitcherHref} class="language-switcher">{currentLang === 'es' ? 'en' : 'es'}</a></li>
      </ul>
    </nav>
    <div class="user-menu">
      <img src={avatarUrl} alt="User Avatar" class="user-avatar">
      <ul class="user-submenu">
        <li><a href="/profile">Profile</a></li>
        <li><a href="/wallet">Wallet</a></li>
        <li><a href="/governance">Governance</a></li>
      </ul>
    </div>
  </div>
</header>