---
// src/layouts/Layout.astro
import Header from '../components/Header.astro'; // <-- Importa el Header
import Footer from '../components/Footer.astro'; // <-- Importa el Footer
import Breadcrumbs from '../components/Breadcrumbs.astro';
import { SITE_INFO } from '../config/site.ts';

import '../styles/global.css';
import '../../src/styles/post.css';

export interface Props {
  title: string;
  description?: string;
}

// Si se pasa una descripción, úsala, si no, usa la global
const url = new URL(Astro.request.url);
const langParam = url.searchParams.get('lang');
const currentLang = langParam && SITE_INFO.locales[langParam] ? langParam : SITE_INFO.language;
const currentLocale = SITE_INFO.locales[currentLang];
const { title, description = currentLocale.siteDescription } = Astro.props;
---

<!doctype html>
<html lang={currentLang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? `${title} | ${currentLocale.siteTitle}` : currentLocale.siteTitle}</title>
  </head>
  <body>
    <Header currentLang={currentLang} currentLocale={currentLocale} />

    <slot name="breadcrumbs" />

    <slot currentLang={currentLang} currentLocale={currentLocale} />

    <Footer currentLang={currentLang} currentLocale={currentLocale} />
  </body>
</html>

<style is:global>
  /* Este bloque debe estar vacío, el CSS global va en global.css */
</style>